body{
background: #F2F1E8;

}

.main_wrapper{

}
header{
  background: #FFFFFF;
}
nav{
display: flex;
justify-content: center;

}
.a{
  image-resolution:
}
a{
  margin:15px;
}
.main_wrapper{


}
img{


}
.section1{

}
.section2{


}


footer{


}
